@import '../../node_modules/platypusui/dist/platypus';

@import '../src/viewcontrols/home/home.vc.less';
@import '../src/viewcontrols/redditlist/redditlist.vc.less';
@import '../src/viewcontrols/singlereddit/singlereddit.vc.less';

.center{
     justify-content: center; 
     text-align: center;
     width: auto; 
     padding-top: 40px; 
}

.fill {
  -moz-border-radius: 20px; 
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background:#27453A;
  border:3px solid #ea4441;
  color:#ECD078;
  text-align: center;
  margin: 0 auto;
  width: 65%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;

}

.input-normal {
  width: 70%;
  height: 70%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  
}

textarea {
    color: black;
    font-size: 15px;
}

#block {
    background:#27453A;
    border:3px solid #ea4441;
    color:#ECD078;
    font-family:Georgia,"Times New Roman",Times,serif;
    margin:20px 0px;
    padding:20px;
}  

#block h2{
    border-bottom:1px solid #ea4441;
    font-size:24px;
    font-weight:normal;
    letter-spacing:-1px;
    line-height:26px;
}

nav {
	float: right;
}

.resize{
  margin-top: -4px;
}

nav a {
    padding: 0 10px;
    text-decoration: none;
    color:#ECD078;
    
}

nav a:hover {
    background: #ECD078;
}

.author {
    color:#D95B43;  
    
}

span {
    color:#ECD078;  
    
}

a {
    padding: 0 10px;
    text-decoration: none;
    color:#ECD078;
    
}

a:hover {
    background: #ECD078;
}
